/* -------definitions principales --------*/

html {
    scroll-behavior: smooth;
}
:root{
    --hauteur-menu: 60px;

}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ff691c;
}

.top{
    background-color: #ffffff;

}
.button {
    text-align: center;
    font-family: "Nexa Heavy";
    font-size: 72%;
    text-decoration: none;
    color: #000000;
    margin-bottom: 1.5%;
    border: groove 3px #000000;
    border-radius: 2px;
}
.title {
    font-family: "Nexa Heavy";
    font-size: 100%;
    text-decoration: underline;
}

.image{
    width: 100%;
}

#progress {
    background-color: #0090fa;
    height: 3px;
    width: 0%;
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
}


/*  ---- haut de page ----*/

/* barre de navigation */
nav{
    width: auto;
    font-size: 18px;
    position: sticky;
    top: 0px;
    z-index: 1;
}
/* liste dans la barre de navigation */
nav > ul{
    display: flex;
    text-align: center;
    box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.3);
    height: var(--hauteur-menu);
    font-family: "Nexa Heavy";
}
/* liste dans barre de navigation */
nav ul{
    list-style-type: none;
    font-family: "Nexa Heavy";
}
/* element de la liste dans la barre de navigation */
nav > ul > li{
    background-color: #ffffff;
    position: relative;
    height: 100%;
    flex: 1;
    font-family: "Nexa Heavy";
}
/* lien d'un element de la liste dans la barre de navigation */
nav > ul > li > a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Nexa Heavy";
}
/* lien d'un element  d'une liste*/
li a {
    text-decoration: none;
    color: black;
}
/* lien des listes de type menu dans la barre de navigation (effectuer apres transition)*/
.menu > a:after{
    content: '❯';
    font-size: 15px;
    margin-left: 7px;
    display: inline-block;
}
/* element de la liste de type sous menu */
.sousMenu {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: white;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
    font-family: "Nexa Heavy";
}
/* lien d'un element de la liste de type sous menu dans la barre de navigation */
.sousMenu > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
    font-family: "Nexa Heavy";
}

nav > ul > li:hover > a{
    color: #2169EC;
}

.sousMenu > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sousMenu > li:hover > a {
    color: #ffffff;
}
/* animation de la rotation d'une fleche > */
@keyframes rotationFleche {
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(90deg);
    }
}
/* activation de l'animation */
.menu:hover > a:after{
    animation: rotationFleche 0.2s linear forwards;
}

/* animation d'apparition d'un sous menu */
@keyframes apparitionSousMenu {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-top: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-top: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}
/* activation de l'animation */
.menu:hover > .sousMenu {
    animation: apparitionSousMenu 1s forwards;
}

/* element de la liste de type sous menu */
.sousMenu> .sousFiltre {
    margin-top: var(--hauteur-menu);
    width: 100%;
    text-align: left;
    background-color: #d2cbcb;
    border-radius: 2px;
    overflow: hidden;
    max-height: 0;
}
/* lien d'un element de la liste de type sous menu dans la barre de navigation */
.sousFiltre > li > a {
    height: 50px;
    padding-left: 20px;
    width: 100%;
    align-items: center;
    display: flex;
}

.sousFiltre > li:hover {
    background-color: rgba(33, 105, 236, 0.3);
}

.sousFiltre > li:hover > a {
    color: white;
}

/* animation d'apparition d'un sous menu */
@keyframes apparitionsousFiltre {
    0% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
        border-right: 3px solid #2169EC;
    }
    30% {
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
    100% {
        max-height: 50em;
        border-right: 3px solid #2169EC;
        box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
    }
}
/* activation de l'animation */
.sousMenu:hover > .sousFiltre {
    animation: apparitionsousFiltre 1s forwards;
}

/* texte de haut de page */
#presentation{
    font-size: 300%;
}
/* grande fleche de scroll */
#fleche{
    margin-top: 350px;
    width: 100px;
}
.action {
    position: center;
}

.sousMenu{
    text-align: center;
    width: auto;
}

#vehicule{
    padding-left: 36.5%;
    padding-right: 36.5%;

}
#mobilier{
    padding-left: 36.8%;
    padding-right: 36.8%;

}
#jardin{
    padding-left: 38%;
    padding-right: 38%;

}
#electronique{
    padding-left: 33%;
    padding-right: 33%;

}
#autre{
    padding-left: 38.8%;
    padding-right: 38.8%;

}

#neuf{
    padding-left: 38.8%;
    padding-right: 38.8%;
}

#quasi{
    padding-left: 33.4%;
    padding-right: 33.4%;
}

#UnPeuAbimé{
    padding-left: 31.5%;
    padding-right: 31.5%;
}

#trèsAbimé{
    padding-left: 33.9%;
    padding-right: 33.9%;
}

#reset{
    padding-left: 38%;
    padding-right: 38%;
}

#croissant{
    padding-left: 32.2%;
    padding-right: 32.2%;
}

#decroissant{
    padding-left: 30.5%;
    padding-right: 30.5%;
}

#ok{
    padding-left: 10%;
    padding-right: 10%;
}
#prixMax{
    margin-top: 0.5%;
}
#txtAdmi{
    text-align: center;
    position: center;
    padding-top: 5%;
}

#progress {
    background-color: #0090fa;
    height: 3px;
    width: 0%;
    position: fixed;
    top:0;
    left:0;
    z-index: 9999;
}

/*Les Annonces*/
/*annonce*/

.annonce{
    background-color: #ffffff;
    border: groove 6px #000000;
    border-radius: 6px;
    text-align: center;
    margin-top: 5%;
    margin-right: 20%;
    margin-left: 20%;

}

.price {
    font-family: "Nexa Heavy";
    font-size: 150%;
    text-align: center;
}

.buttonAnnouncement{
    margin-left: 90%;
    width:22px;
    height:23px;

}
