/*Common*/
html {
    scroll-behavior: smooth;
}
:root{
    --hauteur-menu: 60px;

}
*{
    padding: 0px;
}

.title {
    font-family: "Nexa Heavy";
    margin-top: 6%;
    text-align: center;
    font-size: 300%;

}
.frame{
    background-color: #ffffff;
    border-width:10px;
    border-style:double;
    border-color:black;
    text-align: center;
}

.button {
    font-family: "Nexa Heavy";
    font-size: 175%;
    border: groove 4px #000000;
    border-radius: 5px;
    text-decoration: none;
    color: #000000;
}
body{
    background-color: #ff691c;
}

.subtitle{
    font-family: "Nexa Heavy";
    font-size: 150%;
    color: #000000;
    width: auto;
}
.radio{
    font-family: "Nexa Heavy";
    font-size: 125%;
    color: #000000;
}
.MsgError {
    font-family: "Nexa Heavy";
    font-size: 125%;
    color: #ff0000;
    width: auto;
}

.delete{
    font-family: "Nexa Heavy";
    font-size: 0%;
    height: 5px;
    border: groove 4px #ff0000;
    border-radius: 5px;
    text-decoration: none;
    color: #ff0000;
}

/*jsp home*/

#HomeFrame {
    margin-top: 15%;
    margin-bottom: 15%;
    margin-right: 25%;
    margin-left: 25%;
}
#connexion {
    padding-left: 10px;
    padding-right: 10px;
}

#inscription {
    padding-left: 5px;
    padding-right: 5px;
}

/*jsp login*/

#LoginFrame {
    margin-top: 8%;
    margin-bottom: 15%;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom:2%;
}

.ButtonLogin{
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

#inscriptionLogin{
    font-family: "Nexa Heavy";
    font-size: 100%;
    color: #2169EC;
}

/*jsp signin*/
#SigninFrame{
    margin-top: 10%;
    margin-bottom: 15%;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom:2%;
}
.ButtonSignin {
    width: 50%;
    padding-right: 10px;
    padding-left: 10px;
}

#MenuHome{
    font-family: "Nexa Heavy";
    font-size: 100%;
    color: #2169EC;
}

/*jsp edit*/
#editFrame {
    margin-top: 12%;
    margin-bottom: 15%;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom:2%;
    padding-top: 2%;

}
/*jsp postAdView*/
#FrameAdView {
    margin-top: 8%;
    margin-bottom: 15%;
    margin-right: 25%;
    margin-left: 25%;
    padding-bottom:2%;
    padding-top: 2%;

}

#profilFrame {
    margin-top: 12%;
    margin-bottom: 15%;
    margin-right: 10%;
    margin-left: 10%;
    padding-bottom:2%;
    padding-top: 2%;
}

#postImg{
    text-align: center;
    font-size: 115%;
    margin-top: 3%;

}

#buttonPostImg{
    font-family: "Nexa Heavy";
    font-size: 80%;
    border: groove 3px #000000;
    border-radius: 4px;
    text-decoration: none;
    color: #000000;
    padding-bottom: 2px;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;

}

/* jsp delAdminView */
#frameDelAdmi{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 15%;
}

/* jsp adAdminView*/

#frameAdAdmin {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
    padding-top: -2%;
}

#ListMail{
    font-family: "Nexa Heavy";
    text-align: center;
    font-size: 125%;
    margin-top: -2%;
}

.annonce{
    background-color: #ffffff;
    border: groove 6px #000000;
    border-radius: 6px;
    text-align: center;
    margin-top: 5%;
    margin-right: 10%;
    margin-left: 10%;
}
.image{
    width: 100%;
}
.profil {
    font-family: "Nexa Heavy";
    text-align: left;
    margin-top: 6%;
    font-size: 300%;

}